<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="~{fragment :: meta}"></div>

<div th:replace="~{fragment :: link}"></div>

<body>
	<div th:replace="~{fragment :: header}"></div>
	<main>
		<div class="container justify-content-center w-50">
			<!-- レビュー表示 -->
			<div class="text-center my-3">
				<h2>レビュー一覧</h2>
			</div>
			<div class="row row-cols-2">
				<div th:each="review : ${pageReview}">
					<div class="card">
						<div class="card-header">
							<div>
								<span th:text="${review.getMember().getName()}"></span>
							</div>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><span>スコア：</span><span
								th:text="${review.getScore()}"></span></li>
							<li class="list-group-item"><span
								th:text="${review.getContent()}"></span></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- ページネーション -->
			<div th:if="${pageReview.getTotalPages() > 1}"
				class="d-flex justify-content-center">
				<ul class="pagination">
					<li class="page-item"><a th:if="${pageReview.isFirst()}"
						class="page-link disabled">前</a> <a
						th:unless="${pageReview.isFirst()}"
						th:href="@{/review/list/__${restaurantId}__(page = ${pageReview.getNumber()-1})}"
						class="page-link">前</a></li>
					<li
						th:each="i : ${#numbers.sequence(0, pageReview.getTotalPages()-1)}"
						class="page-item"><a th:if="${i == pageReview.getNumber()}"
						th:text="${i+1}"
						th:href="@{/review/list/__${restaurantId}__(page = ${i})}"
						class="page-link disabled"></a> <a
						th:unless="${i == pageReview.getNumber()}" th:text="${i+1}"
						th:href="@{/review/list/__${restaurantId}__(page = ${i})}"
						class="page-link"></a></li>
					<li class="page-item"><a th:if="${pageReview.isLast()}"
						class="page-link disabled">次</a> <a
						th:unless="${pageReview.isLast()}"
						th:href="@{/review/list/__${restaurantId}__(page = ${pageReview.getNumber()+1})}"
						class="page-link">次</a></li>
				</ul>
			</div>
		</div>
	</main>
	<div th:replace="~{fragment :: script}"></div>
</body>

</html>