<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="~{fragment :: meta}"></div>

<div th:replace="~{fragment :: link}"></div>
<body>
	<div th:replace="~{fragment :: header}"></div>
	<main>
		<!-- パスワードリセットフォーム -->
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-4 py-4">
				<div class="text-center">
					<h2>パスワードリセット</h2>	
					<p>新しく設定するパスワードを入力してください。</p>
				</div>
					<form th:action="@{/member/resetPassword/updatePassword}"
						method="post" th:object="${resetPasswordForm}">
						<input type="hidden" th:field="*{member}">
						<div class="row mb-3">
							<div class="d-flex">
								<label class="col-form-label col-3">パスワード</label>
								<div class="col-8">
									<div th:if="${#fields.hasErrors('password')}"
										th:errors="*{password}" class="text-danger small"></div>
									<input type="password" class="form-control"
										th:field="*{password}">
								</div>
							</div>
						</div>
						<div class="row mb-3">
							<div class="d-flex">
								<label class="col-form-label col-3">パスワード（確認用）</label>
								<div class="col-8">
									<div th:if="${#fields.hasErrors('passwordConfirm')}"
										th:errors="*{passwordConfirm}" class="text-danger small"></div>
									<input type="password" class="form-control"
										th:field="*{passwordConfirm}">
								</div>
							</div>
						</div>
						<div class="row d-flex justify-content-center mb-3">
							<button type="submit" class="btn btn-warning w-50">決定</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
	<div th:replace="~{fragment :: script}"></div>
	<div th:replace="~{fragment :: footer}"></div>
</body>

</html>