<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="~{fragment :: meta}"></div>

<div th:replace="~{fragment :: link}"></div>

<body>
	<div th:replace="~{fragment :: header}"></div>
	<main>
		<div class="container">
			<!-- 予約内容確認フォーム -->
			<div class="row justify-content-center">
				<div class="col-4 py-4">
					<div class="text-center">
						<h2>予約内容の確認</h2>
						<P>以下の内容でよろしいでしょうか？</P>
					</div>
					<div class="card">
						<div class="card-body">
							<form method="post" th:action="@{/reservation/confirm}"
								th:object="${reservationConfirmForm}">
								<input type="hidden" th:field="*{restaurantId}"> <input
									type="hidden" th:field="*{memberId}"> <input
									type="hidden" th:field="*{date}"> <input type="hidden"
									th:field="*{number}">

								<div class="row">
									<span class="col-4">日付</span>
									<spna th:text="${stringDate}" class="col-8"></spna>
								</div>
								<div class="row">
									<span class="col-4">人数</span> <span th:text="*{number}"
										class="col-8"></span>
								</div>
								<div class="form-group d-flex justify-content-center">
									<button type="submit" class="btn btn-warning w-50">予約</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<div th:replace="~{fragment :: script}"></div>
	<div th:replace="~{fragment :: footer}"></div>
</body>

</html>